In [1]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [2]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

In [3]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
a

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

In [4]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [ ]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

In [ ]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1
del d1[5]
d1
ret = d1.pop('dummy')
ret
d1

In [ ]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

In [8]:
def attempt_float(x):
    try:
        return float(x)
    except TypeError:
        return x

In [9]:
attempt_float((1, 2))

(1, 2)